body {
    background-color: #eef5e4;
    transition: all 10s ease;
}

.width {
    width: 90%;
}

.cls-1-1 {
    transition: all 1s ease;
}

.red {
    transition: all 1s ease;
    fill: red !important;
}

.imgContainer {
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    /*width: 45%;*/
    width: 90%;
    min-height: 35em;
    /*height: 70%;*/
    position: fixed;
    margin-top: 5em;
    z-index: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    width: 2em;
    height: 2em;
    margin-right: 2em;
    cursor: pointer;
    z-index: 15;
}

.button svg {
    width: 2em;
    height: 2em;
}

.moonDark {
    fill: white;
}

.transition {
    transition: all 10s ease;
}

/*.cls-4 {*/
/*    transition: all 0.5s ease;*/
/*}*/

/*.cls-2 {*/
/*    transition: all 0.5s ease;*/
/*}*/

/*.cls-4:hover {*/
/*     width: 200%;*/
/*     transform: skewX(10deg);*/
/*     transform-origin: 100% 65%;*/
/* }*/

.scrollbackground {
    transition: all 1s ease;
    background-color: #3c88b3;
}

#sea1:hover {
    width: 200%;
    animation: seaSkew1 5s infinite;
    transform-origin: 100% 60%;
}

#sea1:hover ~ #sea2{
    width: 200%;
    animation: seaSkew2 5s infinite;
    transform-origin: 100% 60%;
}

@keyframes seaSkew1 {
    0% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }

    50% {
        transform: skewx(10deg);
        transform-origin: 100% 60%;
    }

    100% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }
}

@keyframes seaSkew2 {
    0% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }

    50% {
        transform: skewx(-10deg);
        transform-origin: 100% 60%;
    }

    100% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }
}

/*.layered-left {*/
    /*transition: all 10s ease;*/
    /*opacity: 1;*/
    /*z-index: 20;*/
    /*background-color: yellow;*/
    /*margin-right: -40.5em;*/
    /*display: none;*/
/*}*/

/*.layered-right {*/
    /*transition: all 10s ease;*/
    /*opacity: 1;*/
    /*z-index: 30;*/
    /*background-color: red;*/
    /*margin-left: -40.5em;*/
    /*display: none;*/
/*}*/

#layered-middle {
    z-index: 10;
}

.layered-left-push {
    transition: all 2s ease;
    opacity: 1 !important;
    z-index: 20;
    /*position: relative;*/
    margin-right: 10.5em !important;
    margin-top: -5em;
    /*transform: scale(0.5);*/
    /*display: flex !important;*/
}

.layered-right-push {
    transition: all 2s ease;
    opacity: 1 !important;
    z-index: 20;
    /*position: relative;*/
    margin-left: 10.5em !important;
    margin-top: -5em;
    /*transform: scale(0.5);*/
    /*display: flex !important;*/
}

.maincontainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 200em;
}

.sun {
    transition: all 10s ease;
    width: 5em;
    height: 5em;
    /*margin: auto;*/
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border-radius: 10em;
    transform: scale(1);
}

.moon {
    transition: all 10s ease;
    width: 5em;
    height: 5em;
    background-color: lightgray;
    border-radius: 10em;
    margin-top: 8em;
    margin-left: -10em;
    position: absolute;
    transform: scale(0.75);
    opacity: 0;
    box-shadow:
            0 0 20px 5px #fff,
            0 0 60px 15px #fff,
            0 0 100px 30px #fff;
}

.moonrise {
    opacity: 1;
    background-color: white;
    transform: translate(10em, -10em) scale(1);
}

.sunset {
    background-color: #23033a;
    transform: translate(10em, 11em) scale(0.75);
    opacity: 0;
}

.background-night {
    background-color: rgb(0, 52, 74);
}

.image {
    width: 100%;
}

/*#sea1 {*/
/*    transform: translateY(20%);*/
/*}*/

.mars {
    transition: all 2s ease;
    margin-right: -55%;
    width: 45%;
    /*display: none;*/
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.mars h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Apple SD Gothic Neo";
    color: #D48900;
}

.earth {
    transition: all 2s ease;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.earth h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Apple SD Gothic Neo";
    color: #3C88B3;
}

.neptune {
    transition: all 2s ease;
    margin-left: -55%;
    width: 45%;
    /*display: none;*/
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.neptune h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: 35%;
    font-family: "Apple SD Gothic Neo";
    color: #004DD4;
}

.title-visible {
    opacity: 1 !important;
}

@keyframes starsFlicker {
    from { opacity: 0; }
}

.animate-flicker1 {
    animation: starsFlicker 1s infinite alternate;
}

.animate-flicker2 {
    animation: starsFlicker 2s infinite alternate;
}

.animate-flicker3 {
    animation: starsFlicker 3s infinite alternate;
}

.animate-flicker4 {
    animation: starsFlicker 4s infinite alternate;
}

.stars {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100%;*/
    height: 60em;
    justify-content: center;
    margin-top: -35em;
    position: fixed;
}

.star1 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 8em 5em 8em 5em;
    border-radius: 10em;
}

.star2 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 5em 5em 5em 5em;
    border-radius: 10em;
}

.star3 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 10em 5em 10em 5em;
    border-radius: 10em;
}

.star4 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 13em 5em 13em 5em;
    border-radius: 10em;
}

.hidden {
    transition: all 10s ease;
    opacity: 0;
}

.hidden-fast {
    transition: all 2s ease;
    opacity: 0;
}

.visible {
    transition: all 10s ease;
    opacity: 1;
}

.red {
    fill: red;
}

.main-rocket {
    opacity: 0;
    width: 5em;
    position: absolute;
    z-index: -1;
    /*margin-left: -40%;*/
    margin-top: 9%;
    transform: scale(0.5);
    transform: rotate(-120deg);
}

.sub-rocket {
    opacity: 0;
    width: 5em;
    position: absolute;
    z-index: -1;
    /*margin-left: -40%;*/
    margin-top: 9%;
    transform: scale(0.5);
    transform: rotate(60deg);
}

@keyframes rocket1 {
    0% {
        transform: translate(0em, 0em) rotate(-120deg) scale(0.5);
        opacity: 0;
    }

    50% {
        transform: translate(-10em, -10em) rotate(-180deg);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translate(-25em, -2em) rotate(-220deg) scale(0.5);
        opacity: 0;
    }
}

@keyframes rocket2 {
    0% {
        transform: translate(0em, 0em) rotate(-60deg) scale(0.5);
        opacity: 0;
    }

    50% {
        transform: translate(10em, -10em) rotate(0deg);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translate(25em, -2em) rotate(60deg) scale(0.5);
        opacity: 0;
    }
}

.rocket-anim {
    transition: all 2s ease;
    animation: rocket1 2s ease-in-out;
}

.rocket-sub-anim {
    transition: all 2s ease;
    animation: rocket2 2s ease-in-out;
}



@media screen and (min-device-width: 300px) and (max-device-width: 812px){
    .imgContainer {
        width: 100%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        /*margin-top: -5em;*/
    }

    .maincontainer {
        /*margin-top: 20em;*/
    }

    .moon {
        margin-top: 13em;
        margin-left: -5em;
        width: 2.5em;
        height: 2.5em;
    }

    .sun {
        width: 2.5em;
        height: 2.5em;
        margin-top: 8em;
    }

    .moonrise {
        background-color: white;
        transform: translate(5em, -10em);
    }

    .sunset {
        background-color: darkred;
        transform: translate(6em, 10em);
    }

    .star1 {
        margin: 2em 4em 2em 4em;
    }

    .star2 {
        margin: 4em 2em 4em 2em;
    }

    .star3 {
        margin: 3em 5em 3em 5em;
    }

    .star4 {
        margin: 1em 2em 1em 2em;
    }

    .layered-left-push {
        transition: all 2s ease;
        opacity: 1;
        z-index: 20;
        /*margin-left: 10em;*/
        margin-top: -13em !important;
        margin-bottom: 2em !important;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        width: 75%;
    }

    .layered-right-push {
        transition: all 2s ease;
        opacity: 1;
        z-index: 20;
        margin-right: 0 !important;
        /*margin-right: 10em;*/
        margin-top: 2em;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        width: 75%;
    }

    .layered-middle-push {
        width: 51% !important;
    }

    .earth {
        width: 90%;
    }

    .mars {
        margin-top: -10em;
        width: 51%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .neptune {
        width: 51%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .neptune h2 {
        margin-left: 25%;
    }

    .main-rocket {
        opacity: 0;
        width: 5em;
        position: absolute;
        z-index: -1;
        /*margin-left: -40%;*/
        margin-top: 20%;
        transform: scale(0.5);
        transform: rotate(-120deg);
    }

    .sub-rocket {
        opacity: 0;
        width: 5em;
        position: absolute;
        z-index: -1;
        /*margin-left: -40%;*/
        margin-top: 30%;
        transform: scale(0.5);
        transform: rotate(60deg);
    }

    @keyframes rocket1 {
        0% {
            transform: translate(0em, 0em) rotate(240deg) scale(0.5);
            opacity: 0;
        }

        50% {
            transform: translate(-10em, -5em) rotate(280deg);
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            transform: translate(0em, -10em) rotate(340deg) scale(0.5);
            opacity: 0;
        }
    }

    @keyframes rocket2 {
        0% {
            transform: translate(0em, 0em) rotate(60deg) scale(0.5);
            opacity: 0;
        }

        50% {
            transform: translate(10em, 10em) rotate(90deg);
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            transform: translate(0em, 20em) rotate(120deg) scale(0.5);
            opacity: 0;
        }
    }

    .rocket-anim {
        transition: all 2s ease;
        animation: rocket1 2s ease-in-out;
    }

    .rocket-sub-anim {
        transition: all 2s ease;
        animation: rocket2 2s ease-in-out;
    }
}
