body {
    background-color: #eef5e4;
    transition: all 10s ease;
}

.width {
    width: 90%;
}

.cls-1-1 {
    transition: all 1s ease;
}

/*Mars svg*/
.cls-1-1{fill:#946800;}
.cls-2-1{fill:#ff7a00;}
.cls-2-1,.cls-4-1{opacity:0.4;isolation:isolate;}
.cls-3-1{fill:#ffb05f;}
.cls-4-1{fill:#d48900;}

/*mars svg animatie*/

/*earth svg*/
.cls-1-2{fill:#5d6160;}
.cls-2-2{fill:#3c88b3;}
.cls-2-2,.cls-4-2{opacity:0.4;isolation:isolate;}
.cls-3-2{fill:#5a7477;}
.cls-4-2{fill:#a5e5d8;}

/*!*earth animatie*!*/

.cls-1-2:hover {
    transition: all 1s ease;
    fill: red;
    transform: skewx(10deg);
    transform-origin: 100% 60%;
}

.cls-2-2:hover {
    transition: all 1s ease;
    fill: red;
    transform: skewx(-10deg);
    transform-origin: 100% 60%;
}

.cls-3-2:hover {
    transition: all 1s ease;
    fill: red ;
    transform: skewx(20deg);
    transform-origin: 100% 60%;
}

.cls-4-2:hover {
    transition: all 1s ease;
    fill: red;
    transform: skewx(-20deg);
    transform-origin: 100% 60%;
}

/*neptune svg*/
.cls-1-3{fill:#003e74;}
.cls-2-3{fill:#0035bf;}
.cls-2-3,.cls-4-3{opacity:0.4;isolation:isolate;}
.cls-3-3{fill:#004dd4;}
.cls-4-3{fill:#006494;}

/*neptune svg animatie*/


/*dutch flag svg*/
.pole{fill:#4d4d4d;}
.red{fill:#ed0024;}
.white{fill:#f2f2f2;}
.blue{fill:#0071bc;}

/*fish*/
.fish-color-1{fill:#00745f;}
.fish-color-2{fill:#009479;}

.fish-container {
    display: flex;
    margin-top: -25%;
    z-index: 20;
    float: right;
    width: 20%;
    margin-left: 60%;
    transition: 1s ease-in-out;
}

.fish-container:hover {
    transition: 1s ease-in-out;
    /*transform: translateX(-5em);*/
    width: 100%;
    margin-left: 10%;
}

.fish {
    width: 2em;
}

#fish1 {
    padding-top: 0;
}

#fish2 {
    padding-top: 2em;
}

#fish3 {
    padding-top: 0;
}

#fish4 {
    padding-top: 1em;
}

.red {
    transition: all 1s ease;
    fill: red !important;
}

.imgContainer {
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    /*width: 45%;*/
    width: 90%;
    min-height: 35em;
    /*height: 70%;*/
    position: fixed;
    margin-top: 5em;
    z-index: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    width: 2em;
    height: 2em;
    margin-right: 2em;
    cursor: pointer;
    z-index: 15;
}

.button svg {
    width: 2em;
    height: 2em;
}

.moonDark {
    fill: white;
}

.transition {
    transition: all 10s ease;
}

/*.cls-4 {*/
/*    transition: all 0.5s ease;*/
/*}*/

/*.cls-2 {*/
/*    transition: all 0.5s ease;*/
/*}*/

/*.cls-4:hover {*/
/*     width: 200%;*/
/*     transform: skewX(10deg);*/
/*     transform-origin: 100% 65%;*/
/* }*/

.scrollbackground {
    transition: all 1s ease;
    background-color: #3c88b3;
}

#sea1 {
    /*width: 200%;*/
    animation: seaSkew1 5s infinite;
    transform-origin: 100% 60%;
}

#sea2{
    /*width: 200%;*/
    animation: seaSkew2 5s infinite;
    transform-origin: 100% 60%;
}

@keyframes seaSkew1 {
    0% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }

    50% {
        transform: skewx(10deg);
        transform-origin: 100% 60%;
    }

    100% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }
}

@keyframes seaSkew2 {
    0% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }

    50% {
        transform: skewx(-10deg);
        transform-origin: 100% 60%;
    }

    100% {
        transform: skewx(0deg);
        transform-origin: 100% 60%;
    }
}

#layered-middle {
    z-index: 10;
}

.layered-left-push {
    transition: all 2s ease;
    opacity: 1 !important;
    z-index: 20;
    /*position: relative;*/
    margin-right: 10.5em !important;
    margin-top: -5em;
    /*transform: scale(0.5);*/
    /*display: flex !important;*/
}

.layered-right-push {
    transition: all 2s ease;
    opacity: 1 !important;
    z-index: 20;
    /*position: relative;*/
    margin-left: 10.5em !important;
    margin-top: -5em;
    /*transform: scale(0.5);*/
    /*display: flex !important;*/
}

.maincontainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 200em;
}

.sun {
    transition: all 10s ease;
    width: 5em;
    height: 5em;
    /*margin: auto;*/
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border-radius: 10em;
    transform: scale(1);
}

.moon {
    transition: all 10s ease;
    width: 5em;
    height: 5em;
    background-color: lightgray;
    border-radius: 10em;
    margin-top: 8em;
    margin-left: -10em;
    position: absolute;
    transform: scale(0.75);
    opacity: 0;
    box-shadow:
            0 0 20px 5px #fff,
            0 0 60px 15px #fff,
            0 0 100px 30px #fff;
}

.moonrise {
    opacity: 1;
    background-color: white;
    transform: translate(10em, -10em) scale(1);
}

.sunset {
    background-color: #23033a;
    transform: translate(10em, 11em) scale(0.75);
    opacity: 0;
}

.background-night {
    background-color: rgb(0, 52, 74);
}

.image {
    width: 100%;
}

#sea1 {
    transform: translateY(20%);
}

.mars {
    transition: all 2s ease;
    margin-right: -55%;
    width: 45%;
    /*display: none;*/
    opacity: 0;
    display: flex;
    flex-direction: column;
    outline:none;
}

/*.mars:hover {*/
/*    transition: all 0.5s ease;*/
/*    transform: scale(1.2);*/
/*}*/

.mars h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Apple SD Gothic Neo";
    color: #D48900;
}

.earth {
    transition: all 2s ease;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.earth h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Apple SD Gothic Neo";
    color: #3C88B3;
}

/*.earth:hover {*/
/*    transition: all 0.5s ease;*/
/*    transform: scale(1.2);*/
/*}*/

.neptune {
    transition: all 2s ease;
    margin-left: -55%;
    width: 45%;
    /*display: none;*/
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.neptune h2 {
    transition: all 2s ease;
    opacity: 0;
    margin-left: 35%;
    font-family: "Apple SD Gothic Neo";
    color: #004DD4;
}

/*.neptune:hover {*/
/*    transition: all 0.5s ease;*/
/*    transform: scale(1.2);*/
/*}*/

.title-visible {
    opacity: 1 !important;
}

@keyframes starsFlicker {
    from { opacity: 0; }
}

.animate-flicker1 {
    animation: starsFlicker 1s infinite alternate;
}

.animate-flicker2 {
    animation: starsFlicker 2s infinite alternate;
}

.animate-flicker3 {
    animation: starsFlicker 3s infinite alternate;
}

.animate-flicker4 {
    animation: starsFlicker 4s infinite alternate;
}

.stars {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100%;*/
    height: 60em;
    justify-content: center;
    margin-top: -35em;
    position: fixed;
}

.star1 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 8em 5em 8em 5em;
    border-radius: 10em;
}

.star2 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 5em 5em 5em 5em;
    border-radius: 10em;
}

.star3 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 10em 5em 10em 5em;
    border-radius: 10em;
}

.star4 {
    background-color: white;
    width: 0.5em;
    height: 0.5em;
    margin: 13em 5em 13em 5em;
    border-radius: 10em;
}

.hidden {
    transition: all 10s ease;
    opacity: 0;
}

.hidden-fast {
    transition: all 2s ease;
    opacity: 0;
}

.visible {
    transition: all 10s ease;
    opacity: 1;
}

.hidden-flag {
    display: none;
    transition: all 2s ease;
}

@keyframes flag {
    0% {
        transform-origin: bottom left ;
        transform: rotate(0deg);
    }

    50% {
        transform-origin: bottom left ;
        transform: rotate(-20deg);
    }

    100% {
        transform-origin: bottom left ;
        transform: rotate(0deg);
    }
}

.visible-flag {
    /*animation: flag 2s infinite;*/
    display: flex;
    position: absolute;
    width: 4em;
    margin-left: 12%;
    margin-top: 6%;
    z-index: -10;
}

@keyframes flagWave {
    0% {
        transform-origin: left ;
        transform: skewY(0deg);
    }

    50% {
        transform-origin: left ;
        transform: skewY(10deg);
    }

    100% {
        transform-origin: left ;
        transform: skewY(0deg);
    }
}

@keyframes waveRise {
    0% {
        transform: translateY(3em);
        opacity: 0;
    }

    100% {
        transform: translateY(0em);
        opacity: 1;
    }
}

#flag {
    animation: flagWave 2s infinite;
}

#mars-flag {
    animation: waveRise 2s ease;
}

#neptune-flag {
    animation: waveRise 2s ease;
}

.red {
    fill: red;
}

.main-rocket {
    opacity: 0;
    width: 5em;
    position: absolute;
    z-index: -1;
    /*margin-left: -40%;*/
    margin-top: 9%;
    transform: scale(0.5);
    transform: rotate(-120deg);
}

.sub-rocket {
    opacity: 0;
    width: 5em;
    position: absolute;
    z-index: -1;
    /*margin-left: -40%;*/
    margin-top: 9%;
    transform: scale(0.5);
    transform: rotate(60deg);
}

@keyframes rocket1 {
    0% {
        transform: translate(0em, 0em) rotate(-120deg) scale(0.5);
        opacity: 0;
    }

    50% {
        transform: translate(-10em, -10em) rotate(-180deg);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translate(-25em, -2em) rotate(-220deg) scale(0.5);
        opacity: 0;
    }
}

@keyframes rocket2 {
    0% {
        transform: translate(0em, 0em) rotate(-60deg) scale(0.5);
        opacity: 0;
    }

    50% {
        transform: translate(10em, -10em) rotate(0deg);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translate(25em, -2em) rotate(60deg) scale(0.5);
        opacity: 0;
    }
}

.rocket-anim {
    transition: all 2s ease;
    animation: rocket1 2s ease-in-out;
}

.rocket-sub-anim {
    transition: all 2s ease;
    animation: rocket2 2s ease-in-out;
}

@keyframes vibrate {
    0% {
        transform: rotate(-10deg);
        opacity: 1;
    }
    10% {
        transform: rotate(10deg);
        opacity: 0.75;
    }
    20% {
        transform: rotate(-10deg);
        opacity: 1;
    }
    30% {
        transform: rotate(10deg);
        opacity: 0.75;
    }
    40% {
        transform: rotate(-10deg);
        opacity: 1;
    }
    50% {
        transform: rotate(10deg);
        opacity: 0.75;
    }

    60% {
        transform: rotate(-10deg);
        opacity: 1;
    }
    70% {
        transform: rotate(10deg);
        opacity: 0.75;
    }
    80% {
        transform: rotate(-10deg);
        opacity: 1;
    }
    90% {
        transform: rotate(10deg);
        opacity: 0.75;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

.selected {
    animation: vibrate 1s ease;
}

@media screen and (min-device-width: 300px) and (max-device-width: 812px){
    .imgContainer {
        width: 100%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        /*margin-top: -5em;*/
    }

    .maincontainer {
        /*margin-top: 20em;*/
    }

    .moon {
        margin-top: 13em;
        margin-left: -5em;
        width: 2.5em;
        height: 2.5em;
    }

    .sun {
        width: 2.5em;
        height: 2.5em;
        margin-top: 8em;
    }

    .moonrise {
        background-color: white;
        transform: translate(5em, -10em);
    }

    .sunset {
        background-color: darkred;
        transform: translate(6em, 10em);
    }

    .star1 {
        margin: 2em 4em 2em 4em;
    }

    .star2 {
        margin: 4em 2em 4em 2em;
    }

    .star3 {
        margin: 3em 5em 3em 5em;
    }

    .star4 {
        margin: 1em 2em 1em 2em;
    }

    .layered-left-push {
        transition: all 2s ease;
        opacity: 1;
        z-index: 20;
        /*margin-left: 10em;*/
        margin-top: -13em !important;
        margin-bottom: 2em !important;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        width: 75%;
    }

    .layered-right-push {
        transition: all 2s ease;
        opacity: 1;
        z-index: 20;
        margin-right: 0 !important;
        /*margin-right: 10em;*/
        margin-top: 2em;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        width: 75%;
    }

    .layered-middle-push {
        width: 51% !important;
    }

    .earth {
        width: 90%;
    }

    .mars {
        margin-top: -10em;
        width: 51%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .neptune {
        width: 51%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .neptune h2 {
        margin-left: 25%;
    }

    .main-rocket {
        opacity: 0;
        width: 5em;
        position: absolute;
        z-index: -1;
        /*margin-left: -40%;*/
        margin-top: 20%;
        transform: scale(0.5);
        transform: rotate(-120deg);
    }

    .sub-rocket {
        opacity: 0;
        width: 5em;
        position: absolute;
        z-index: -1;
        /*margin-left: -40%;*/
        margin-top: 30%;
        transform: scale(0.5);
        transform: rotate(60deg);
    }

    @keyframes rocket1 {
        0% {
            transform: translate(0em, 0em) rotate(240deg) scale(0.5);
            opacity: 0;
        }

        50% {
            transform: translate(-10em, -5em) rotate(280deg);
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            transform: translate(0em, -10em) rotate(340deg) scale(0.5);
            opacity: 0;
        }
    }

    @keyframes rocket2 {
        0% {
            transform: translate(0em, 0em) rotate(60deg) scale(0.5);
            opacity: 0;
        }

        50% {
            transform: translate(10em, 10em) rotate(90deg);
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            transform: translate(0em, 20em) rotate(120deg) scale(0.5);
            opacity: 0;
        }
    }

    .rocket-anim {
        transition: all 2s ease;
        animation: rocket1 2s ease-in-out;
    }

    .rocket-sub-anim {
        transition: all 2s ease;
        animation: rocket2 2s ease-in-out;
    }
}
